@model Models.Entities.Iletisim

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/AbatPanel/Views/Shared/_Panel.cshtml";
}



<div class="m-grid__item m-grid__item--fluid m-wrapper">

    <div class="m-content">
        <div class="row">

            <div class="col-md-12">


                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--tab">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    Square & Solid Input Style
                                </h3>
                            </div>
                        </div>
                    </div>

                    <!--begin::Form-->
                    <form class="m-form m-form--fit m-form--label-align-right" action="/abatpanel/iletisim/create" method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group m--margin-top-10">
                                <div class="alert m-alert m-alert--default" role="alert">
                                    The example form below demonstrates common HTML form elements solid background style:
                                </div>
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputEmail1"> Adı Soyadı </label>


                                @Html.EditorFor(model => model.AdiSoyadi, new { htmlAttributes = new { @class = "form-control m-input m-input--solid", placeholder = "Adı Soyadı" } })
                                @Html.ValidationMessageFor(model => model.AdiSoyadi, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputPassword1">E-Posta</label>
                                @Html.EditorFor(model => model.Eposta, new { htmlAttributes = new { @class = "form-control m-input m-input--solid", placeholder = "E-Posta" } })
                                @Html.ValidationMessageFor(model => model.Eposta, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group m-form__group">
                                <label for="exampleInputPassword1">Mesaj</label>
                                @Html.TextAreaFor(model => model.Mesaj, new { htmlAttributes = new { @class = "form-control m-input m-input--solid", placeholder = "Mesaj"} })
                                @Html.ValidationMessageFor(model => model.Mesaj, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions">
                                <button type="submit" class="btn btn-success">Kaydet</button>
                                <a href="~/abatpanel/iletisim/index" type="reset" class="btn btn-secondary">Vazgeç</a>
                            </div>
                        </div>
                    </form>

                    <!--end::Form-->
                </div>

                <!--end::Portlet-->

            </div>
        </div>
    </div>
</div>



@section scripts {
    @if (ViewBag.Mesaj != null)
    {
        if (ViewBag.Status != "error")
        {
            <script>
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    };

                    toastr.success("@ViewBag.Mesaj", "Başarılı");

                     $(document).ready(function () {

                    setTimeout(function () {
                        location.href = "/abatpanel/iletisim/Index";
                }, 2500);
            });
            </script>
        }
        else
        {
            <script>
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": false,
                        "progressBar": false,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    };

                    toastr.error("@ViewBag.Mesaj", "Hata");
            </script>
        }
    }
}


