@using DataAccessLayer.Context;
@using Models.Entities;
@using ServiceLayer.Uow;


@{
    var uow = new UnitOfWork(new GreenpackDbContext());

    var kurumsal = uow.Kurumsal.GetAll();

    var hizmetler = uow.Hizmetlerimiz.GetAllWithInclude();
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" lang="tr">
    <title>Green Ambalaj & Orman Ürünleri</title>
    <meta name="language" content="Turkish">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="title" content="Green Ambalaj & Orman Ürünleri">
    <meta name="description" content="İhracat Sandıkları , Ahşap Meyve Sandıkları , Baskılı Sandık İmalatı , Euro Palet , Çam, Kavak Palet İmalatı,Narenciye, Sebze ve Meyve Sandık veya Kasaları">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Turgay Bakan">
    <meta name="keywords" content="Green Ambalaj & Orman Ürünleri,Green Ambalaj,Orman Ürünleri" />
    <meta name="revisit-after" content="7 days">
    <meta name="owner" content="Turgay Bakan" />
    <meta name="copyright" content="(c) 2019" />
    <meta property="og:url" content="https://greenambalaj.com" />
    <meta property="og:site_name" content="Green Ambalaj & Orman Ürünleri Official web page" />
    <meta property="og:locale" content="tr_TR" />
    <meta property="og:type" content="website" />
    <meta property="og:type" content="business.business">
    <meta property="og:title" content="Green Ambalaj">
    <meta property="og:image" content="https://greenambalaj.com/Content/images/logo.png">
    <meta property="business:contact_data:street_address" content="Hüseyin Okan Merzeci Bulvarı No:14/1-1 Akdeniz/Mersin">
    <meta property="business:contact_data:locality" content="Akdeniz">
    <meta property="business:contact_data:region" content="Mersin">
    <meta property="business:contact_data:postal_code" content="33020">
    <meta property="business:contact_data:country_name" content="Türkiye">
    <link href="~/favicon.ico" rel="icon" type="image/x-icon"/>
-    <link rel="canonical" href="https://www.greenambalaj.com" />
    <!-- Stylesheets -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/css/revolution-slider.css" rel="stylesheet">
    <link href="~/Content/css/responsive.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <!-- Responsive -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>
<body>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Main Header -->
        <header class="main-header">
            <div class="top-bar">
                <div class="top-container">
                    <!--Info Outer-->
                    <div class="info-outer">
                        <!--Info Box-->
                        <ul class="info-box clearfix">
                            <li><span class="icon flaticon-interface"></span><a href="mailto:info@greenpack.com">info@greenpack.com</a></li>
                            <li><span class="icon flaticon-technology-5"></span><a href="tel:+905535966361">0553 596 63 61</a></li>
                            <li class="social-links-one">
                                <a href="https://www.facebook.com/greenorur" class="facebook img-circle" target="_blank"><span class="fa fa-facebook-f"></span></a>
                                <a href="#" class="twitter img-circle"><span class="fa fa-twitter"></span></a>
                                <a href="#" class="google-plus img-circle"><span class="fa fa-google-plus"></span></a>
                                <a href="#" class="linkedin img-circle"><span class="fa fa-linkedin"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Header Upper -->
            <div class="header-upper">
                <div class="auto-container clearfix">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="@Url.Action("index","greenpack")"><img src="~/Content/images/logo.png" alt="Greenpack"></a>
                    </div>

                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">

                        <!-- <a href="#" class="theme-btn btn-donate" data-toggle="modal" data-target="#donate-popup">Donate Now!</a> -->
                        <!-- Main Menu -->
                        <nav class="main-menu">

                            <div class="navbar-header">
                                <!-- Toggle Button -->
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation">

                                    <li class="current">
                                        <a href="@Url.Action("index","greenpack")">ANASAYFA</a>
                                        <!-- <ul>
                                            <li><a href="index.html">Homepage One</a></li>
                                            <li><a href="index-2.html">Homepage Two</a></li>
                                        </ul> -->
                                    </li>
                                    <li class="dropdown">
                                        <a href="about.html">HAKKIMIZDA</a>
                                        <ul>
                                            @{
                                                if (kurumsal.Count() != 0)
                                                {
                                                    foreach (var item in kurumsal)
                                                    {
                                                        <li><a href="~/greenpack/@item.MenuAdi.Replace(" ", "-").Replace(".", "").Replace("İ", "i").Replace("I", "i").Replace("&", "-")">@item.MenuAdi</a></li>
                                                    }
                                                }
                                            }
                                            @*<li><a href="about-misyonumuz.html">Misyonumuz</a></li>
                                                <li><a href="about-vizyonumuz.html">Vizyonumuz</a></li>
                                                <li><a href="about-degerlerimiz.html">Değerlerimiz</a></li>*@
                                        </ul>

                                    </li>
                                    <li class="dropdown">
                                        <a href="#">HİZMETLERİMİZ</a>
                                        <ul>

                                            @{
                                                if (hizmetler.Count() != 0)
                                                {
                                                    foreach (var item in hizmetler)
                                                    {
                                                        <li><a href="~/hizmetlerimiz/@item.HizmetAdi.Replace(" ", "-").Replace(".", "").Replace("İ", "i").Replace("I", "i").Replace("&", "-")">@item.HizmetAdi</a></li>
                                                    }
                                                }
                                            }

                                            @*<li><a href="ihracat-sandiklar.html">İhracat Sandıklar</a></li>
                                                 <li class="dropdown"><a href="#">Projects</a>
                                                    <ul>
                                                        <li><a href="projects.html">Projects</a></li>
                                                        <li><a href="projects-two-column.html">Projects Two Column</a></li>
                                                        <li><a href="project-single.html">Single Project</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown"><a href="#">Events</a>
                                                    <ul>
                                                        <li><a href="events-list.html">Events List View</a></li>
                                                        <li><a href="events-grid.html">Events Grid View</a></li>
                                                        <li><a href="event-single.html">Single Event</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="ashap-meyve-sandiklari.html">Ahşap Meyve Sandıkları</a></li>
                                                <li><a href="baskili-sandik-imalati.html">Baskılı Sandık İmalatı</a></li>
                                                <li><a href="euro-palet.html">Euro Palet</a></li>
                                                <li><a href="cam.html">Çam</a></li>
                                                <li><a href="kavak-palet.html">Kavak Palet İmalatı</a></li>*@
                                        </ul>
                                    </li>
                                    <!-- <li class="dropdown"><a href="#">Events</a>
                                        <ul>
                                            <li><a href="events-list.html">Events List View</a></li>
                                            <li><a href="events-grid.html">Events Grid View</a></li>
                                            <li><a href="event-single.html">Single Event</a></li>
                                        </ul>
                                    </li> -->
                                    <!-- <li class="dropdown"><a href="#">Blog</a>
                                        <ul>
                                            <li><a href="blog.html">Blog Classic</a></li>
                                            <li><a href="blog-three-column.html">Blog Three Column</a></li>
                                            <li><a href="blog-single.html">Blog Single</a></li>
                                        </ul>
                                    </li> -->
                                    <li>
                                        <a href="@Url.Action("galeri","greenpack")">GALERİ</a>
                                        <!-- <ul>
                                            <li><a href="gallery-masonry.html">Gallery Masonry</a></li>
                                            <li><a href="gallery-three-column.html">Gallery Three Column</a></li>
                                        </ul> -->
                                    </li>

                                    <li><a href="@Url.Action("iletisim","greenpack")">İLETİŞİM</a></li>
                                </ul>
                            </div>
                        </nav><!-- Main Menu End-->

                    </div>

                </div>
            </div><!-- Header Top End -->

        </header><!--End Main Header -->

        @RenderBody()
        <!--Main Footer-->
        <footer class="main-footer" style="background-image:url(../../Content/images/background/footer-bg.jpg);">

            <!--Footer Upper-->
            <div class="footer-upper">
                <div class="auto-container">
                    <div class="row clearfix">

                        <!--Two 4th column-->
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">
                                <div class="col-lg-8 col-sm-6 col-xs-12 column">
                                    <div class="footer-widget about-widget">
                                        <div class="logo"><a href="@Url.Action("index","greenpack")"><img src="~/Content/images/logo.png" class="img-responsive" alt=""></a></div>
                                        <div class="text">
                                            <p>Green Ambalaj & Orman Ürünleri</p>
                                        </div>

                                        <ul class="contact-info">
                                            <li><span class="icon fa fa-map-marker"></span><address>Hüseyin Okan Merzeci Bulvarı 5993 sk Mersin</address> </li>
                                            <li><span class="icon fa fa-phone"></span><a href="tel:0553 596 63 61">0553 596 63 61</a> </li>
                                            <li><span class="icon fa fa-envelope-o"></span><a href="mailto:info@greenpack.com">info@greenpack.com</a> </li>
                                        </ul>

                                        <div class="social-links-two clearfix">
                                            <a href="https://www.facebook.com/greenorur" class="facebook img-circle" target="_blank"><span class="fa fa-facebook-f"></span></a>
                                            <a href="#" class="twitter img-circle" target="_blank"><span class="fa fa-twitter"></span></a>
                                            <a href="#" class="google-plus img-circle" target="_blank"><span class="fa fa-google-plus"></span></a>
                                            <a href="#" class="linkedin img-circle" target="_blank"><span class="fa fa-pinterest-p"></span></a>
                                            <a href="#" class="linkedin img-circle" target="_blank"><span class="fa fa-linkedin"></span></a>
                                        </div>

                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="col-lg-4 col-sm-6 col-xs-12 column">
                                    <h2>HAKKIMIZDA</h2>
                                    <div class="footer-widget links-widget">
                                        <ul>
                                            <li><a href="about-misyonumuz.html">Misyonumuz</a></li>
                                            <li><a href="about-vizyonumuz.html">Vizyonumuz</a></li>
                                            <li><a href="about-degerlerimiz.html">Değerlerimiz</a></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div><!--Two 4th column End-->
                        <!--Two 4th column-->
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">
                                <!--Footer Column-->
                                <div class="col-lg-7 col-sm-6 col-xs-12 column">
                                    <div class="footer-widget news-widget">
                                        <h2>GALERİ</h2>

                                        <!--News Post-->
                                        <div class="news-post">
                                            <div class="icon"></div>
                                            <div class="news-content"><figure class="image-thumb"><img src="~/Content/images/gallery/sandık.jpg" alt=""></figure><a href="@Url.Action("galeri","greenpack")">If you need a crown or lorem an  asd fd implant you will pay it gap it</a></div>
                                            <div class="time">July 2, 2014</div>
                                        </div>

                                        <!--News Post-->
                                        <div class="news-post">
                                            <div class="icon"></div>
                                            <div class="news-content"><figure class="image-thumb"><img src="~/Content/images/gallery//wood2.jpg" alt=""></figure><a href="@Url.Action("galeri","greenpack")">If you need a crown or lorem an implant you will pay it gap it</a></div>
                                            <div class="time">July 2, 2014</div>
                                        </div>

                                    </div>
                                </div>

                                <!--Footer Column-->
                                <div class="col-lg-5 col-sm-6 col-xs-12 column">
                                    <div class="footer-widget links-widget">
                                        <h2>HİZMETLERİMİZ</h2>
                                        <ul>
                                            <li><a href="ihracat-sandiklar.html">İhracat Sandıklar</a></li>
                                            <li><a href="ashap-meyve-sandiklari.html">Ahşap Meyve Sandıkları</a></li>
                                            <li><a href="baskili-sandik-imalati.html">Baskılı Sandık İmatalı</a></li>
                                            <li><a href="euro-palet.html">Euro Palet</a></li>
                                            <li><a href="cam.html">Çam</a></li>
                                            <li><a href="kavak-palet.html">Kavak Palet İmalatı</a></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div><!--Two 4th column End-->

                    </div>

                </div>
            </div>

            <!--Footer Bottom-->
            <div class="footer-bottom">
                <div class="auto-container clearfix">
                    <!--Copyright-->
                    <div class="copyright text-center">Copyright 2019 &copy; &ensp;<a href="www.abatbilgiteknolojileri.com.tr">ABAT BİLGİ TEKNOLOJİLERİ</a></div>
                </div>
            </div>

        </footer>

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>

    <!-- /.modal -->
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.fancybox.pack.js"></script>
    <script src="~/Content/js/jquery.fancybox-media.js"></script>
    @RenderSection("scripts", required: false)
<script type="application/ld+json">
    {
        "@@context" : "http:\/\/schema.org",
        "@@type" : "LocalBusiness",
        "@@id":"#Business",
        "url": "https:\/\/www.greenambalaj.com\/",
            "adress" : { "@@type" : "PostalAddress",
            "addressLocality" : "Mersin",
            "addressRegion" : "TR",
            "streetAddress" : "33020 Hüseyin Okan Merzeci Bulvarı No:14/1-1 Akdeniz Mersin"},
        "sameAs": [ "https:\/\/facebook.com\/greenorur" ],
        "description" : "Hüseyin Okan Merzeci Bulvarı No:14/1-1 Akdeniz/Mersin",
        "name" : "Green Ambalaj ve Orman Ürünleri",
        "telephone" : "0553-596-63-61"
    }
</script>
</body>
</html>
